/* ---------- 全局样式 1---------- */

body {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding-top: 70px;
  background-color: blue;
}

a:hover {
  border-bottom: 3px solid #4fc08d;
}


.avatar {
  border-radius: 3px;
  width: 48px;
  height: 48px;
  float: right;
  padding: 50px
}
h1{ 
  text-align: center;
  color: #fff;
}
